.homeBannerContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), black url('../../../Assets/HomeBanner.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    border: 15px double;
    margin-bottom: 200px;
}

.homeBannerTitle {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 80px;
    color: #f8f5f0;
    text-shadow: 0 0 8px rgba(248, 245, 240, 0.8),
        0 0 16px rgba(248, 245, 240, 0.5);
    -webkit-text-stroke: 1px #5e503f;

}

.homeBannerTitle2 {
    font-family: "Updock";
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 100px;
    color: #000000;
    text-shadow: 0 0 18px rgba(248, 245, 240, 0.8),
        0 0 16px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
    .homeBannerContainer {
        padding: 0px;
    }

    .homeBannerTitle {
        font-size: 50px;
    }

    .homeBannerTitle2 {
        font-size: 50px;
    }
}