@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Updock&display=swap');

body {
    font-family: "Freeman", sans-serif !important;
    border: 20px solid #f8f5f0;
    height: 10000px;
}